<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <!--<service behaviorConfiguration="cms.NFe.Comunic.Service1Behavior"
        name="cms.NFe.Comunic.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="cms.NFe.Comunic.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->

      <service behaviorConfiguration="cms.NFe.Comunic.ComunicBehavior"
        name="cms.NFe.Comunic.Comunic">
        <endpoint address="" binding="wsHttpBinding" contract="cms.NFe.Comunic.IComunic">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="cms.NFe.Comunic.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="cms.NFe.Comunic.ComunicBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  
</configuration>